<div class="content">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading heading-text">
            <span class="lead">&nbsp;</span>
        </div>
        <div class="card" style="width: 25rem;">
            <div class="card-header">
                <h5 class="card-title">Sign Up/Registration Form</h5>
            </div>
            <div class="card-body">
                <div class="tablecontainer">
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label> <input type="email" class="form-control"
                                id="username" aria-describedby="emailHelp" placeholder="Enter username"> <small
                                id="emailHelp" class="form-text text-muted">Username details</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label> <input type="password" class="form-control"
                                id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="username">Phone</label> <input type="email" class="form-control" id="username"
                                aria-describedby="emailHelp" placeholder="Enter username"> <small id="emailHelp"
                                class="form-text text-muted">Username details</small>
                        </div>
                        <div class="form-group">
                            <label for="username">Email Id</label> <input type="email" class="form-control"
                                id="username" aria-describedby="emailHelp" placeholder="Enter username"> <small
                                id="emailHelp" class="form-text text-muted">Username details</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Address</label> <input type="password" class="form-control"
                                id="password" placeholder="Password">
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <div align="right">
                    <button type="button" class="btn btn-primary btn-sm">Submit</button>
                    <button type="button" class="btn btn-secondary btn-sm">
                        Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading heading-text">
        <span class="lead">&nbsp;</span>
    </div>
    <div class="panel-heading heading-text">
        <span class="lead">&nbsp;</span>
    </div>
</div>