<div class="content">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading heading-text">
            <span class="lead">&nbsp;</span>
        </div>

        <div class="card" style="width: 25rem;">
            <div class="card-header">
                <h5 class="card-title">Welcome to EMS</h5>
            </div>
            <div class="card-body">
                <div class="tablecontainer">
                    <form>
                        <div class="form-group pt-15 pb-15">
                            <label for="username">
                                <h6>Username</h6>
                            </label>
                            <input type="email" class="form-control" id="username" aria-describedby="emailHelp"
                                placeholder="Enter username">
                        </div>
                        <div class="form-group pt-15 pb-15">
                            <label for="password">
                                <h6>Password</h6>
                            </label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <div align="right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="onSubmit()">Login</button>
                    <button type="button" class="btn btn-secondary btn-sm">
                        Reset</button>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="checkbox1">Forgot
                        Username/Password > </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="checkbox1"><a routerLink='/signup'>
                            <h6>Singup></h6>
                        </a></label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading heading-text">
        <span class="lead">&nbsp;</span>
    </div>
    <div class="panel-heading heading-text">
        <span class="lead">&nbsp;</span>
    </div>
</div>